body {
  margin: 0;
  padding: 20px 0 0;
}

.left {
  float: left;
  width: 35%;
}

.right {
  float: right;
  width: 65%;
}

.bottom {
  clear: both;
  width: 100%;
  min-height: 100px;
  height: 100px;
}
.bottom-body{
  min-height: 100px;
  height: 100px;
}

.left-body {
  background-color: #ffffff;
}

.right-body {
  background-color: #2ca02c;
}

.bottom-body {
  background-color: #0b97c4;
}