body {
  margin: 0;
  padding: 20px 0 0;
}

.left, .right {
  display: flex;
  height: 25%;
  max-height: 25% !important;
  overflow: scroll;
}
.left {
  float: left;
  width: 35%;

}

.right {
  float: right;
  width: 65%;
  margin:0;
}

.bottom {
  clear: both;
  width: 100%;
  min-height: 100px;
  height: 100px;
}
.bottom-body{
  min-height: 100px;
  height: 100px;
}

.left-body {
  background-color: #fff;
}

.right-body {
  background-color: #fff;
  padding: 10px;
}

.bottom-body {
  background-color: #fff;
}